/* Add CSS styling here */


/*css reset*/

html,
html body {
    width: 100%;
    min-width: 100%;
    min-height: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 1em;
}

*,
html,
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
label,
fieldset,
input,
p,
blockquote,
th,
td {
    margin: 0;
    padding: 0;
    line-height: 1.2;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

fieldset,
img {
    border: 0;
    /* padding-top: 20px; */
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
    font-style: normal;
    font-weight: normal;
}

caption,
th {
    text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}

 :link,
 :visited {
    text-decoration: none;
}

q:before,
q:after {
    content: '';
}


/* The below restores some sensible defaults */

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}

a img {
    border: none;
}

sup {
    vertical-align: super;
    font-size: 60%;
}

sub {
    vertical-align: sub;
    font-size: 60%;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* end of reset */

body {
    background-color: lightblue;
}

.cards div {
    height: 250px;
    width: 250px;
    margin: 20px;
    border: 1px solid black;
}

.cards {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

h1 {
    padding: 20px;
    font-weight: bold;
}

.headerimg {
    padding-left: 30px;
}

nav {
    padding: 20px;
}

.first-section {
    padding: 20px;
    text-align: center;
}

h2 {
    text-align: center;
    color: red;
    padding-bottom: 10px;
}

button {
    padding: 10px;
}

button:hover {
    background: white;
    color: yellow;
}

.cards {
    display: flex;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
}

.flex-item img {
    width: 100%;
    height: 100%;
}

p {
    padding: 10px;
}